:root {
  --body-background-color: #f0f0f0;
  --header-height: 4em;
  --actor-avatar-size: 2.5em;
}
* {
  /* font-family: 'Roboto', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
pre, a {
  font-size: .9em;
  margin: 0;
}
h1 {
  color: #303030;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
}
.welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-title {
  font-size: 1.8em;
  margin-top: 1.5em;
}
.github-icon {
  width: 20em;
  height: 20em;
  background-image: url('/static/github-octocat.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  animation: bounce 1.2s infinite alternate;
  -webkit-animation: bounce 1.2s infinite alternate;
  z-index: 100;
}
.github-icon-animated-shadow {
  background-color: #ddd;
  opacity: .4;
  width: 10em;
  height: 3em;
  border-radius: 50%;
  transform: translateY(-5em);
  animation: animated-shadow 1.2s infinite alternate;
  -webkit-animation: animated-shadow 1.2s infinite alternate;
}
.star-icon {
  background-image: url('/static/star-icon.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 1em;
  height: 1em;
  margin-left: 1em;
}
.github-authentication-link {
  font-size: 1.2em;
  margin-top: 1em;
  text-decoration: none;
  color: rgb(125,186,228);
}
.github-authentication-link:hover {
  text-decoration: underline;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: rgb(36,41,46);
  z-index: 999;
}
.header .header-left,
.header .header-right {
  flex: 1;
  height: 100%;
}
.header .header-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-left {
  display: flex;
  align-items: center;
}
.header + div {
  margin-top: calc(var(--header-height) + 2em);
}
.header-icon {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  background-image: url('/static/github-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: invert(100%);
}
.header-icon:hover {
  opacity: .8;
}
.header iframe {
  width: 5em;
  height: 1.5em;
  vertical-align: middle;
}
.header iframe:not(:first-child) {
  margin-right: 3em;
}
.dashboard {
  width: 50em;
  padding-left: 1em;
}
.event {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em;
}
.event:not(:first-child) {
  padding-top: 1.5em;
}
.event-header {
  width: 100%;
  display: flex;
}
.event-title {
  vertical-align: middle;
  font-size: .9em;
  line-height: var(--actor-avatar-size);
  margin-left: .5em;
}
.event-title > * {
  display: inline;
}
.actor-avatar {
  width: var(--actor-avatar-size);
  height: var(--actor-avatar-size);
  border-radius: .25em;
  overflow: hidden;
}
.header .actor-avatar {
  position: absolute;
  cursor: pointer;
  width: calc(var(--actor-avatar-size) - .5em);
  height: calc(var(--actor-avatar-size) - .5em);
  padding-right: 1em;
}
.commit .actor-avatar {
  width: calc(var(--actor-avatar-size) / 2);
  height: calc(var(--actor-avatar-size) / 2);
}
.actor-avatar > img {
  width: 100%;
  height: 100%;
}
.card {
  width: calc(100% - (var(--actor-avatar-size) + .5em));
  min-height: 9em;
  background-color: #fff;
  border-radius: .25em;
  border: 1px solid #ccc;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: calc(var(--actor-avatar-size) + .5em);
}
.card-title {
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.push-card > pre {
  height: 1.5em;
}
.created-at {
  font-size: .7em;
  color: #606060;
}
.repo-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.repo-name {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.repo-description {
  height: 3em;
  line-height: 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}
.repo-details {
  display: flex;
  align-items: center;
}
.language,
.stargazers {
  font-size: .7em;
  color: #606060;
  position: relative;
  padding-left: 1.5em;
  line-height: 1em;
}
.language::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #f1f12d;
  position: absolute;
  left: 0;
}
.stargazers {
  padding-left: .5em;
}
.branch,
.commit-hash {
  display: inline;
  background-color: rgb(234,245,254);
  color: rgb(4, 102, 209);
  padding: .25em .5em .25em .5em;
  border-radius: .25em;
}
.commit-hash {
  background-color: transparent;
}
.commit-hash,
.commit-message {
  margin: 0;
  padding: 0;
  margin-left: .5em;
  vertical-align: middle;
  line-height: calc(var(--actor-avatar-size) / 2);
}
.commit {
  display: flex;
  flex-direction: row;
}
.commit:not(:first-child) {
  padding-top: .5em;
}
.footer-buttons {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-buttons > * {
  background-color: #fff;
  border-radius: .25em;
  border: 1px solid #ccc;
  text-decoration: none;
  width: 8em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  outline: none;
  color: #3435eb;
}
.footer-buttons > *:hover {
  opacity: .8;
}
.footer-buttons > *:active {
  opacity: .7;
}

/* keyframes */
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1em);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1em);
  }
}

@keyframes animated-shadow {
  from {
    transform: translateY(-5em);
    width: 10em;
  }
  to {
    transform: translateY(0);
    width: 15em;
  }
}
@-webkit-keyframes animated-shadow {
  from {
    transform: translateY(-5em);
    width: 10em;
  }
  to {
    transform: translateY(0);
    width: 15em;
  }
}